body {
    font-family: 'Work sans', sans-serif;
    text-align: left;
    color: black;
    background-color: white;
    margin: 0;
}

header {
    font-family: 'Work sans', sans-serif;
    background-color: #70a48b;
    text-align: right;
    align-Items: left;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

div {
    display: flex;
    flex-direction: right;
    flex-wrap: wrap;
    width: 50%;
    top: 5%;
    right: 2%;
    align-items: center;
}

.menu ul li {
    list-style-type: none;
}

.menu ul li.donation-button a {
    background-color: #1f211c;
    color: white;
    border-radius: 20px;
    border: 1px solid #1f211c;
    padding: 6px 8px;
}

.menu ul {
        font-size: 12px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 6px;
        margin: 1.5px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 3px solid white;
    border-radius: 10px;
    padding: 0.2%;
}

a:link, a:visited {
    background-color: #70a48b;
    color: white;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

button {
    display: flexbox;
    flex-direction: right;
    background-color: #70a48b;
        width: 330px;
        height: 40px;
    color: white;
    text-align: left;
    border-radius: 10px;
    font-size: 14px;
}

h2 {
    display: flex;
    justify-content: flex-start;
}

.block-display {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: left;
    padding-left: 6px;
    top: 25%;
    right: 40%;
  }

  p1 {
      display: flex;
      top: 35%;
      right: 65%;
      align-content: left;
      padding-left: 6px;
  }

  p2 {
      display: flex;
      top: 40%;
      right: 65%;
      align-content: left;
      padding-left: 6px;
  }

  .container2 {
      display: flex;
      flex-direction: right;
      flex-wrap: wrap;
      top: 20%;
      left: 40%;
  }

  section2 {
    display: flex;
    flex-direction: column;
}

.container3 {   
    display: flex;
    flex-direction: right;
    flex-wrap: wrap;
    justify-content: space-evenly;
    right: 5%;
}       

.image mobile-spacer {
    width: 50%;
}

.image spacer {
    width: 50%;
}

.image {
    display: flex;
    align-items: center;
}

.image spacer mobile-spacer {
    width: 50%;
}

footer {
    background-color: #70a48b;
    width: 100%;
    display: flex;
    flex-direction: column;
}    

.footer-logo img {
    width: 50px;
    height: 50px;
}

  @media screen and (min-width: 768px) {
    header {
        display: flex;
        justify-content:space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .container {
        width: 20%;
    }
    section {
        width: 33%;
    }
    
    section2 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 66%;
    }
    .content-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .image {
        display: flex;
        align-items: center;
    }
    div.spacer {
        width: 50%;
    }
    
    .mobile-spacer {
        width: 50%;
    }
}    
